<template>
  <div class="top">
    <h4>所属部门</h4>
    <select v-model="chooseApart" @change="getCars">
      <option v-for="(item) in $store.state.apartment" :key="item.id" :value="item.id">{{ item.division_name }}</option>
    </select>
    <h4>配送货车</h4>
    <select v-model="chooseCar" @change="getCarId">
      <option v-for="(item) in $store.state.cars" :key="item.id" :value="item.id">{{ item.car_info }}</option>
    </select>
    <button @click="selectCar">查询</button>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: "Choose",
  data(){
    return{
      chooseApart:0,
      chooseCar:0,
    }
  },
  methods:{
    getCars(){
      axios.get(`http://localhost:8080/api1/cars?apartment_id=${this.chooseApart}`).then(response=>{
        // console.log(response.data)
        this.$store.dispatch('getCars',response.data)
      }).catch(error=>{
        console.log(error.message)
      })
    },
    getCarId(){
      this.$store.dispatch('getCarId',this.chooseCar)
      console.log('getCarId',this.$store.state.carid)
    },
    selectCar(){
      axios.get(`http://localhost:8080/api1/detail?car_id=${this.chooseCar}`).then(response=>{
        // console.log(response.data)
        this.$store.dispatch('getInformation',response.data)
      }).catch(error=>{
        console.log(error.message)
      })
    }
  },
  mounted(){
    axios.get(`http://localhost:8080/api1/apartment`).then(response=>{
      // console.log(response.data)
      this.$store.dispatch('getApartment',response.data)
    }).catch(error=>{
      console.log(error.message)
    })
  }
}
</script>

<style scoped>
  .top{
    position: relative;
    left: 100px;
    top:30px;
    height: 100px;
    width: 400px;
    background-color: antiquewhite;
    display: flex;
    gap:20px;
  }
  select{
    position: relative;
    width:50px;
    height: 30px;
    top:20px;
  }
  button{
    position: relative;
    width:70px;
    height: 30px;
    top:20px;
  }
</style>