<template>
  <div class="left">
    <h2>货车信息表</h2>
    <div class="box">
      <h4>货车号码:</h4>
      <h3>{{ $store.state.information['car_info'] }}</h3>
      <input type="text" v-show="false"/>
    </div>
    <div class="box">
      <h4>退货数量:</h4>
      <h3>{{ $store.state.information['count'] }}</h3>
      <input type="text" v-show="false"/>
      <h4>退货种类:</h4>
      <h3>{{ $store.state.information['sort'] }}种</h3>
      <input type="text" v-show="false"/>
    </div>
    <div class="box">
      <h4>底盘使用数量:</h4>
      <h3>{{ $store.state.information['chassis'] }}个</h3>
      <input type="text" v-show="false"/>
      <h4>货栏使用数量:</h4>
      <h3>{{ $store.state.information['cargo'] }}个</h3>
      <input type="text" v-show="false"/>
    </div>
    <div class="box">
      <h4>驾驶员:</h4>
      <h3>{{ $store.state.information['name'] }}</h3>
      <input type="text" v-show="false"/>
      <h4>驾驶员电话:</h4>
      <h3>{{ $store.state.information['phone'] }}</h3>
      <input type="text" v-show="false"/>
    </div>
    <div class="box">
      <h4>最近退货时间:</h4>
      <h3>{{ $store.state.information['time'] }}</h3>
      <input type="text" v-show="false"/>
      <h4>最近操作人员:</h4>
      <h3>{{ $store.state.information['operator'] }}</h3>
      <input type="text" v-show="false"/>
    </div>
  </div>
</template>

<script>
export default {
  name: "Information"

}
</script>

<style scoped>
  .left{
    position:relative;
    left: 100px;
    top:50px;
    height: 500px;
    width: 550px;
    background-color: antiquewhite;
    text-align: center;
  }
  .box{
    display: flex;
    justify-content: stretch;
    left: 10px;
    top:50px;
    position: relative;
    gap:20px;
  }
</style>