<template>
  <div class="right">
    <h2>信息操作框</h2>
    <div class="box">
      <button v-show="isShow" @click="changeData(0)">修改底盘数量</button>
      <button v-show="isShow" @click="changeData(1)">修改货栏数量</button>
    </div>
    <div class="box">
      <button v-show="isShow" @click="matchData">数据匹配</button>
    </div>
    <div class="box">
      <input v-show="!isShow" type="number" placeholder="请输入数字" v-model.number="number"/>
      <button v-show="!isShow" @click="updateData">确认</button>
      <button v-show="!isShow" @click="changeData('cancel')">取消</button>
    </div>
    <h6>说明：确认从仓库中拿出的公司数据与实际退还的公司数据是否相符</h6>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Operation",
  data() {
    return {
      isShow: true,
      status: Number(),
      number: 0
    }
  },
  methods: {
    changeData(status) {
      if (status !== 'cancel') {
        this.status = status
      }
      if (!status) {
        this.number = this.$store.state.information['chassis']
      } else {
        this.number = this.$store.state.information['cargo']
      }
      this.isShow = !this.isShow
    },
    updateData() {
      this.$store.dispatch('updateData', {status: this.status, number: this.number})
      axios.get(`http://localhost:8080/api1/change?chassis=${this.status}&&count=${this.number}&&car_id=${this.$store.state.carid}`).then(response => {
        console.log(response.data)
      }).catch(error => {
        console.log(error.message)
      })
      this.isShow = !this.isShow
    },
    matchData() {
      axios.get(`http://localhost:8080/api1/compare?car_id=${this.$store.state.carid}`).then(response => {
        console.log(response.data)
        alert(`出仓库时借出\n底盘 ${response.data[0]['chassis']} 个,货栏 ${response.data[0]['cargo']} 个\n\n当前退回\n底盘 ${response.data[0]['real_chassis']} 个,货栏 ${response.data[0]['real_cargo']} 个\n\n需要补齐\n底盘 ${response.data[0]['chassis']-response.data[0]['real_chassis']} 个,货栏 ${response.data[0]['cargo']-response.data[0]['real_cargo']} 个\n\n数据匹配结果: ${((response.data[0]['chassis']-response.data[0]['real_chassis']===0)&&(response.data[0]['cargo']-response.data[0]['real_cargo']===0))?'数据正确':'数据不匹配，请注意!'}`)
      }).catch(error => {
        console.log(error.message)
      })
    }
  }
}
</script>

<style scoped>
.right {
  position: relative;
  left: 200px;
  top: 10px;
  height: 540px;
  width: 600px;
  background-color: antiquewhite;
  text-align: center;
}

.box {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

button {
  width: 100px;
  height: 40px;
}
</style>