<template>
  <div>
    <transition
        name="animate__animated animate__bounce"
        enter-active-class="animate__slideInLeft"
        appear>
      <Choose></Choose>
    </transition>
    <div class="box">
      <transition
          name="animate__animated animate__bounce"
          enter-active-class="animate__slideInUp"
          appear>
        <Information></Information>
      </transition>
      <transition
          name="animate__animated animate__bounce"
          enter-active-class="animate__slideInRight"
          appear>
        <Operation></Operation>
      </transition>
    </div>
  </div>
</template>

<script>
import Choose from "@/components/Choose";
import Information from "@/components/Information";
import Operation from "@/components/Operation";
import 'animate.css';

export default {
  name: 'App',
  components: {
    Choose,
    Information,
    Operation
  }
}
</script>

<style>
  .box{
    display: flex;
  }
</style>
